body {
    margin: 0;
    padding: 0;
}

/* .container {
    border: 2px solid red;
} */
nav {

    background-color: #262626;
    height: 5vh;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
}
nav .nav-img {
    float: left;
    margin-left: 20px ;
}
nav .nav-img img {
    border-radius: 12%;
}
nav ul li {
    float: right;
    color: whitesmoke;
    display: inline-block;
    margin-right: 20px;
    font-size: larger;
    font-weight: bold;
}

.body-image {
    width: inherit;
    background: url('images/pexels-magda-ehlers-4097159.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-text {
    position: absolute;
    height: inherit;
    width: 70%;
    border: 2px red solid;
}
.body-text img {
    width: 40%;
    float: right;
    height: inherit;
}
.body-image .pizza-image {
    width: 50%; 
    float: left; 
    height:inherit;
    /* width: 100%; */
    /* opacity: 0.; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.body-image .right {
    border-radius: 12% 0 0 12%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #262626;
    height: 5vh;;
}
footer a{
    color: whitesmoke;
}