body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.navbar {
    min-width: 320px;
    min-height: 5%;
    background-color: #262626;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}
.navbar-links {

    display: inline-block;
    list-style-type: none;
    margin: 0 20px 0 10px;
}
.navbar-links a{
    color: whitesmoke;
}

.toggle-bar-container{
    display: none;
}
.navbar-links-mobile {
    display: none;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #262626;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}
nav button {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    background-color: yellowgreen;
    border-radius: 12px;
    min-width: 20%;
    transition: all 100ms ease-in-out;
}

nav button:hover {
    opacity: 0.5;
    color: black;
    font-size: bold;
    box-shadow: 0px 5px 5px whitesmoke;
    
}
.active {
    display: block;
}

@media (max-width: 609px) {
    
    .navbar-links {
        display: none;
    }
    nav button {
        min-width: 100%;
    }
    nav {
        display: none;
        height: 5vh;
        flex-wrap: wrap;
    }
    .toggle-bar-container {
        width: 100% ;
        background-color: transparent;
        height: 5vh;
        /* display: flex;
        justify-content: flex-start; */
        
    }
    .toggle-bar-container ul li {
        list-style-type: none;
    }
    .navbar-toggle {
        display: block;
        position: inherit;
    }
    .navbar-links-mobile {
        display: none;
        width: 100%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
    .navbar-links-mobile:hover{
        background-color: black;
        width: 100%;
        height: 100%;
    }


    
}